<div class="login-wrapper" fxlaout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form class="login-form">
      <mat-card-content class="form-fields-wrapper">
        <mat-form-field class="login-full-width">
          <input matNativeControl placeholder="username" />
        </mat-form-field>
        <mat-form-field class="login-full-width">
          <input matNativeControl placeholder="password" />
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button color="primary" class="login-submit-button">
        Log in
      </button>
    </form>
  </mat-card>
</div>
